
body {
    margin: 0;
    padding: 0;
}

.bio {
    position: relative;
    top: 30%;

}

.introduction {
    width: 25%;
    float: left;
    height: 100%;
    background-color: #003865;
}
.headshot {
}

.memo {
    font: 16px Georgia, serif;
    color: #faf7f4;
    max-width: 300px;
    text-align: center;
    margin: auto;
}
.headshot img {
    width: 170px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.email {
    text-align: center;
    margin: auto;
}

.emailButton {
    font: 20px Georgia, serif;
    background-color: #faf7f4; /* Green */
    border: none;
    color: #003865;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    width: 200px;
}

.resume {
    width: 75%;
    height: 100%;
    float: right;
    background-color: #faf7f4;
}